
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.dropdown-item:hover,
.dropdown-item:focus {
  color: #18d26e !important;
  text-decoration: none !important;
  background-color: rgba(33, 37, 41, 0.78) !important;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0 !important;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}

.modal-backdrop.fade {
  opacity: 0;
}

.modal-backdrop.show {
  opacity: 0.5;
  z-index: 0 !important;
}